date: {{ date }}
metadata:
    author: Rodrigo Girão Serrão
    description: "{{ description }}"
    og:image: "https://mathspp.com/blog/{{ path_prefix }}{{ slug }}/thumbnail.png"
    twitter:image: "https://mathspp.com/blog/{{ path_prefix }}{{ slug }}/thumbnail.png"
slug: "{{ slug }}"
taxonomy:
    category:{% for category in categories %}
        - {{ category }}{% endfor %}
    tag:{% for tag in tags %}
        - {{ tag }}{% endfor %}
title: {{ title }}
